@model QueueViewModel
<form class="form-signin" method="get" asp-action="ShowQueue" asp-controller="Home">
    <table class="table table-dark shadow mt-5 mb-3 border border-5 border-light rounded-3">
    <thead>
        <tr>
            <th scope="col">Ism Sharifingiz</th>
            <th scope="col">Telefon Raqamingiz</th>
            <th scope="col">Navbat olgan vaqtingiz</th>
            <th scope="col">Navbatingiz keladigan vaqt</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.CustomerName</td>
            <td>@Model.Phone</td>
            <td>@Model.CreatedAt.ToString("MMM dd, yyyy HH:mm")</td>
            <td>@Model.QueueTime.ToString("MMM dd, yyyy HH:mm")</td>
            <td><a class="btn btn-success" type="submit" href="/Home/index">Navbatdagilar ro'yxati</a></td>
        </tr>
    </tbody>
</table>
</form>